<div class="col-12 p-2" data-aos="fade-right">
    <div class="col-12 cabecera">
        <h2>Gol Management</h2>
        <button class="button-add" role="button" (click)="addGol()"> <i class="fa-solid fa-plus"></i> Add GOL</button>
    </div>
    <div class="col-12 m-2 search-box">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="all" checked>
            <label class="form-check-label" for="all">
                ALL
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fia">
            <label class="form-check-label" for="fia">
                FIA
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fce">
            <label class="form-check-label" for="fce">
                FCE
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fcs">
            <label class="form-check-label" for="fcs">
                FCS
            </label>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="table-management">
            <div class="tab-head">
                <p class="text-warning">Name</p>
                <p>Verse</p>
                <p>Lema</p>
                <p>Song</p>
                <p></p>
            </div>
            <div class="tab-body">
                <div class="t-row">
                    <div class="r-name">
                        <img src="https://i.ibb.co/PrPtGkk/eagle.png" alt="eagle" border="0" />
                        <h2>The Eagles</h2>
                    </div>
                    <span> <b> Salmos 119:115 </b></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloribus error, voluptas in aut quas
                        nostrum?</p>
                    <span>Solo el comienzo - Vocal Libre</span>
                    <div class="btns">
                        <button type="button" class="btn_edit"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn_delete"><i class="fa-solid fa-delete-left"></i></button>
                    </div>
                </div>
                <div class="t-row">
                    <div class="r-name">
                        <img src="https://i.ibb.co/rps1YwG/plant.png" alt="plant" border="0" />
                        <h2>SMADI</h2>
                    </div>
                    <span> <b>Santiango 1:3</b></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>Buscas - Ministerio JA</span>
                    <div class="btns">
                        <button type="button" class="btn_edit"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn_delete"><i class="fa-solid fa-delete-left"></i></button>
                    </div>
                </div>
                <div class="t-row">
                    <div class="r-name">
                        <img src="https://i.ibb.co/mzGRxbC/code.png" alt="plant" border="0" />
                        <h2>LINUX</h2>
                    </div>
                    <span> <b>Santiango 1:3</b></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>Buscas - Ministerio JA</span>
                    <div class="btns">
                        <button type="button" class="btn_edit"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn_delete"><i class="fa-solid fa-delete-left"></i></button>
                    </div>
                </div>
                <div class="t-row">
                    <div class="r-name">
                        <img src="https://i.ibb.co/19CcDN6/music.png" alt="plant" border="0" />
                        <h2>ZIMRAH</h2>
                    </div>
                    <span> <b>Santiango 1:3</b></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>Buscas - Ministerio JA</span>
                    <div class="btns">
                        <button type="button" class="btn_edit"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn_delete"><i class="fa-solid fa-delete-left"></i></button>
                    </div>
                </div>
                <div class="t-row">
                    <div class="r-name">
                        <img src="https://i.ibb.co/0crMqCL/lion.png" alt="plant" border="0" />
                        <h2>JUDA</h2>
                    </div>
                    <span> <b>Santiango 1:3</b></span>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                    <span>Buscas - Ministerio JA</span>
                    <div class="btns">
                        <button type="button" class="btn_edit"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn_delete"><i class="fa-solid fa-delete-left"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>