<div class="col-12 p-2" data-aos="fade-right">
    <div class="col-12 cabecera">
        <h2>Users Management</h2>
        <button class="button-add" role="button" (click)="addUser()"> <i class="fa-solid fa-plus"></i> Add User</button>
    </div>
    <div class="col-12 m-2 search-box">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="all" checked>
            <label class="form-check-label" for="all">
                ALL
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fia">
            <label class="form-check-label" for="fia">
                FIA
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fce">
            <label class="form-check-label" for="fce">
                FCE
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="fcs">
            <label class="form-check-label" for="fcs">
                FCS
            </label>
        </div>
    </div>
    <div class="col-12 mt-4">
        <div class="table-management">
            <div class="tab-head">
                <p class="text-warning">Name</p>
                <p>Last name</p>
                <p>Mother's last name</p>
                <p>Date of Birth</p>
                <p></p>
            </div>
            <div class="tab-body">
                <div class="t-row">
                    <div class="r-name">
                        <h2>Omar Azel</h2>
                    </div>
                    <p>Guerrero</p>
                    <p>Pusma</p>
                    <p>21/01/1997</p>
                    <div class="btns m-2">
                        <button type="button" class="btn_edit"><i class="fa-solid fa-pen-to-square"></i></button>
                        <button type="button" class="btn_delete"><i class="fa-solid fa-delete-left"></i></button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>