.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  margin-bottom: 10%;
}
.main {
  margin-top: 8%;
  padding: 10px;
  padding-top: 20px;
  padding-left: 10%;
  padding-right: 10%;
  overflow-x: hidden;
}
