<div class="co-12" data-aos="fade-left">
    <div class="col-12 head m-2 p2">
        <a [routerLink]="['/home/goles']"><i class="fa-solid fa-chevron-left"></i></a>
        <h2>CREATE GOL</h2>
    </div>
    <div class="col-12">
        <form class="form col-12 p-4">
            <div class="profile p-2">
                <div class="mb-3 name">
                    <label for="gol-name" class="form-label">GOL Name</label>
                    <input type="text" class="form-control" id="gol-name" aria-describedby="gol-help">
                    <div id="gol-help" class="form-text">Enter the name of the GOL and choose an image</div>
                </div>
                <div class="img-profile" (click)="onSelectProfile()">
                    <img src={{img_url}} alt="profile">
                    <div id="up-add">
                        <span>Choose image</span>
                    </div>
                </div>
            </div>
            <div class="details p-2 mt-3">
                <div class="form-floating mb-3">
                    <textarea class="form-control" placeholder="write your lema" id="gol-lema"
                        style="height: 100px"></textarea>
                    <label for="gol-lema">Lema</label>
                </div>
                <div class="mb-3 name">
                    <label for="verse" class="form-label">Pasaje Biblico</label>
                    <input type="text" class="form-control" id="verse">
                </div>
                <div class="mb-3 name">
                    <label for="verse" class="form-label">Canción</label>
                    <input type="text" class="form-control" id="verse" placeholder="Only name of the song">
                </div>
                <button class="btn-save" type="button">Guardar</button>
            </div>
        </form>
    </div>
</div>