@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@700&family=Roboto:wght@700&display=swap");

.head a {
  text-decoration: none;
  color: grey;
  font-size: 1rem;
  padding: 0.4rem 0.6rem;
  background: #ddd;
  border-radius: 5rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
.head > a:hover {
  background: #feae24;
  color: white;
  transition: all 0.25s ease-in;
  -webkit-transition: all 0.25s ease-in;
  -moz-transition: all 0.25s ease-in;
  -ms-transition: all 0.25s ease-in;
  -o-transition: all 0.25s ease-in;
}
.head a:active {
  transform: translateY(2px);
  transition-duration: 0.35s;
}
.form {
  display: flex;
  flex-direction: column;
}
.profile {
  width: 100%;
  display: flex;
  flex-direction: row;
}
.profile .name {
  width: 50%;
}
.profile .img-profile {
  margin: 0 0.5rem;
  cursor: pointer;
  width: 100px;
  background-color: #ddd;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  -webkit-border-radius: 1rem;
  -moz-border-radius: 1rem;
  -ms-border-radius: 1rem;
  -o-border-radius: 1rem;
}

.img-profile > div {
  padding: 0.3rem;
  background-color: #80808081;
  width: 100%;
  margin-top: -23%;
  text-align: center;
  color: white;
  position: relative;
}
.img-profile img {
  width: 100%;
  object-fit: cover;
}
